@import "tailwindcss";

#start {
  font-family: "Press Start 2P";
  color: antiquewhite;
}

.scene {
  width: 100vw;
  height: 100vh;
  transform-style: preserve-3d;
  position: relative;
  transition: transform 1.5s;
}

.zoomed {
  transform: scale(50);
}

.layer {
  position: absolute;
  transition: transform 0.1s ease-out;
}

.background {
  background-image: url("./assets/tv.png");
  z-index: 1;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.midground {
  background-image: url("./assets/tv.png");
  z-index: 2;
  mix-blend-mode: lighten;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1.1);
  }
}

.floating {
  animation: float 2s ease-in-out infinite;
}

.zoom-element {
  transform: scale(0);
  animation: zoom-in 1s ease forwards;
}

.typewriter p {
  color: white;
  font-family: "Anonymous Pro";
  white-space: nowrap;
  overflow: hidden;
}

.typewriter p:nth-child(1) {
  animation: typing 4s steps(30) 1s 1 normal both, blink-cursor 1s steps(30) 6;
}

.typewriter p:nth-child(2) {
  animation: typing 4s steps(30) 6s 1 normal both,
    blink-cursor 1s steps(30) 6s 6;
}

.typewriter p:nth-child(3) {
  animation: typing 4s steps(30) 12s 1 normal both,
    blink-cursor 1s steps(30) 12s infinite normal;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-cursor {
  from {
    border-right: 0.15em solid orange;
  }
  to {
    border-right: 0.15em solid transparent;
  }
}
